.ant-btn {
    @include is-rounded();
}

.ant-btn-primary {
    @include is-rounded();
    background-color: $main-light;
    border-color: $main-light;
    transition: all ease 0.2s;
    &:hover {
        background-color: $main-contrasting;
        border-color: $main-contrasting;
    }
    &:active {
        background-color: $main-contrasting;
        border-color: $main-contrasting;
    }
    &:focus {
        background-color: $main-contrasting;
        border-color: $main-contrasting;
    }
}
