$large-bar-width: 4.5rem;
$large-bar-height: 0.75rem;

$small-bar-width: 3.625rem;

.select-ballot-type-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1rem;
}

.large-bar {
    width: $large-bar-width;
    height: $large-bar-height;
    background-color: $main-light;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.small-bar {
    width: $small-bar-width;
    height: $large-bar-height;
    background-color: $alternate-color;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.middle-bar {
    margin-top: 0.5625rem;
    margin-bottom: 0.5625rem;
}
