@mixin has-shadow {
    box-shadow: 0 2rem 2rem $shadow-color;
}

@mixin is-rounded {
    border-radius: $normal-border-radius;
}

@mixin is-rounded-large {
    border-radius: $large-border-radius;
}
