@mixin has-shadow {
    box-shadow: 0 0.4rem 0.2rem $shadow-color;
}

@mixin is-rounded {
    border-radius: $normal-border-radius;
}

@mixin is-rounded-large {
    border-radius: $large-border-radius;
}

@mixin is-rounded-large {
    border-radius: 1.25rem;
}

@mixin is-rounded-large {
    border-radius: 1.25rem;
}
