// Overrides for antd menu to fit out application needs

.ant-menu-item {
    color: $darker-grey;

    a {
        color: $darker-grey !important;
        @include text();
    }
}

.ant-menu-item-active,
.ant-menu-item:hover {
    a {
        color: $font-color !important;
    }
}

.ant-menu-vertical .ant-menu-item {
    margin-top: 0;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: $alternate-color;
    border-radius: 0.625rem;

    span a {
        color: $font-color !important;
    }
}

.ant-menu-item:focus-within {
    outline: $darker-grey auto 1px;
}

.ant-menu-item-selected:focus-within {
    outline: none;
}

.ant-menu-item:hover {
    outline: none !important;
    background: none;
    color: none;
}

// set margin for first element succeeding the ´create election´ button
.ant-menu-vertical .ant-menu-item:nth-child(2) {
    margin-top: 3 * $bu;
}