.ballot-preview {
    border-style: solid;
    border-radius: 0.9rem;
    border-width: medium;
    border-color: lightgray;
    font-size: large;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

.ballot-preview-button {
    display: inline-block;
    width: 100%;
}