.description-form {
    min-width: 350px;
    background: $element-color;
    padding: 2rem 2rem 2rem;
    @include is-rounded;
    @include has-shadow;

    .error-field {
        min-height: 3rem;
        margin: 0 0 1rem 0;
    }
}

.schedule-form {
    min-width: 350px;
    background: $element-color;
    padding: 2rem 2rem 2rem;
    @include is-rounded;
    @include has-shadow;

    .error-field {
        min-height: 3rem;
        margin: 0 0 1rem 0;
    }
}

.election-information-input {
    padding: 2rem 2rem 2rem;
}
.button {
    float: right;
}