.election-form-schedule {
    @include is-flex-column;

    @include for-tablet-landscape-up {
        @include is-flex-row;
        > * {
            width: 50%;
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }

    > * {
        width: 100%;
        .ant-picker {
            width: 100%;
        }
    }
}
