.description-form {
    min-width: 350px;
    padding: 2rem 2rem 2rem;
    @include is-rounded;
    @include has-shadow;
}

.alert-field {
    min-height: 3rem;
    margin: 0 0 1rem 0;
}

.schedule-form {
    min-width: 350px;
    padding: 2rem 2rem 2rem;
    @include is-rounded;
    @include has-shadow;

    .error-field {
        min-height: 3rem;
        margin: 0 0 1rem 0;
    }
}

.create-ballot-button {
    margin: 0 auto;
    display: block;
}

.ballot-section {
    h2 {
        margin-top: 0.7rem;
    }
}

.password-input {
    width: 100%;
}
