.verification-field-not-clicked {
    display: inline-block;
    width: 95%;
    border-style: solid;
    border-color: black;
    border-radius: 1.2rem;
    border-width: medium;
    text-align: center;
    font-size: medium;
    padding-top: 0.23rem;
    padding-bottom: 0.23rem;
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
}

.verification-field-clicked {
    display: inline-block;
    width: 95%;
    border-style: solid;
    border-color: green;
    border-radius: 1.2rem;
    border-width: medium;
    text-align: center;
    font-size: medium;
    padding-top: 0.23rem;
    padding-bottom: 0.23rem;
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
}