@keyframes wobble {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(15deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    40% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.wobble-animation {
    animation-name: wobble;
    animation-duration: 3s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.rotate-animation {
    animation-name: rotate;
    animation-duration: 3s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
