/** FLEX **/

.is-flex {
    @include is-flex;
}

.is-flex-column {
    @include is-flex-column;
}

.is-flex-row {
    @include is-flex-column;
}

.has-content-center-center {
    @include has-content-center-center;
}

.is-flex-row-reverse {
    // !important is needes because we want to force override if another class has flex-direction
    flex-direction: row-reverse !important;
}

.is-flex-coloumn-reverse {
    // !important is needes because we want to force override if another class has flex-direction
    flex-direction: column-reverse !important;
}

/** SIZE **/

.is-fullscreen {
    width: 100vw;
    height: 100vh;
}

.is-full-height {
    height: 100vh;
}

.is-full-width {
    width: 100vw;
}