// BODY
$main-color: #ffffff;
$white: #ffffff;
$dark: #1d2d44;
$background: #fafafa;

// GRAYS
$alternate-color: #f5f7f8;
$border-color: #eeebeb;
$shadow-color: #eaedf06a;
$light-grey: #d8d8d8;
$darker-grey: #6f737d;

// COLORS
$main-light: #aeb8fe;
$main-contrasting: #758bfd;

$info-light: #6b93ff;
$info-contrasting: #6b93ff;

$success-light: #89f0d7;
$success-contrasting: #00ebb1;

$danger-light: #ffb5ce;
$danger-contrasting: #ff5a90;

$warning-light: #fee5ae;
$warning-contrasting: #edbf5b;

$bee-yellow: #ffe940;

// TEXT
$font-color: $dark;
$inverse-font-color: $white;
$soft-text-color: $darker-grey;
$very-soft-text-color: $light-grey;

// EXTRA

.main-contrasting,
.main-light,
.info-contrasting,
.info-light,
.success-contrasting,
.success-light,
.danger-contrasting,
.danger-light,
.warning-contrasting,
.warning-light {
    color: $white;
}

.main-contrasting {
    background-color: $main-contrasting;
}

.main-light {
    background-color: $main-light;
}

.info-light {
    background-color: $info-light;
}

.info-contrasting {
    background-color: $info-contrasting;
}

.success-light {
    background-color: $success-light;
}

.success-contrasting {
    background-color: $success-contrasting;
}

.danger-light {
    background-color: $danger-light;
}

.danger-contrasting {
    background-color: $danger-contrasting;
}

.warning-light {
    background-color: $warning-light;
}

.warning-contrasting {
    background-color: $warning-contrasting;
}

.color-main-contrasting {
    color: $main-contrasting;
}

.color-main-light {
    color: $main-light;
}

.color-info-light {
    color: $info-light;
}

.color-info-contrasting {
    color: $info-contrasting;
}

.color-success-light {
    color: $success-light;
}

.color-success-contrasting {
    color: $success-contrasting;
}

.color-danger-light {
    color: $danger-light;
}

.color-danger-contrasting {
    color: $danger-contrasting;
}

.color-warning-light {
    color: $warning-light;
}

.color-warning-contrasting {
    color: $warning-contrasting;
}
