/* SCREEN SIZES FOR BREAKPOINTS */
$xxl-screen: 1600px;
$xl-screen: 1200px;
$large-screen: 1024px;
$medium-screen: 960px;
$small-screen: 768px;
$mobile-screen: 480px;

$normal-border-radius: 0.625rem;
$large-border-radius: 1.25rem;

$input-border: 1px solid $border-color;
// Variables with global interests.p

// Skeleton
$header-height: 3 * $bu;
$sidebar-width: 18.5 * $bu;
