$large-bar-width: 4.5rem;
$large-bar-height: 0.75rem;

$medium-bar-width: 4rem;
$small-bar-width: 3.625rem;

$middle-bar-padding: 0.5625rem;

.select-type-text {
    transition: all 0.35s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1rem;
}

.icon-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.large-bar {
    width: $large-bar-width;
    height: $large-bar-height;
    background-color: $main-light;
}

.medium-bar {
    width: $medium-bar-width;
    height: $large-bar-height;
    background-color: $main-light;
}

.small-bar {
    width: $small-bar-width;
    height: $large-bar-height;
    background-color: $alternate-color;
}

.middle-bar {
    margin-top: $middle-bar-padding;
    margin-bottom: $middle-bar-padding;
}

.main-contrasting-color {
    background-color: $main-contrasting;
}

.small-ranked-color {
    background-color: #e0e4ff;
}

.radio-button {
    .ant-radio {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
}

.radio-wrapper {
    .ant-radio-group {
        height: 13rem;
        width: 37.5rem;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        gap: 0rem;
    }
}

.radio-group {
    .ant-radio-wrapper {
        transition: all 0.35s;
        background-color: $white;
        width: 10rem;
        height: 10rem;
        @include is-rounded;
        @include has-shadow;

        > span:nth-child(2) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }

    .ant-radio-wrapper-checked {
        transition: all 0.35s;
        width: 11.5rem;
        height: 11.5rem;
        padding-top: 1rem;

        .select-type-text {
            padding-top: 1.5rem;
        }

        .select-ranked-text {
            padding-top: 1.75rem;
        }

        .select-single-text {
            padding-top: 2rem;
        }

        .select-none-text {
            padding-top: 1.3125rem;
        }

        &::after {
            content: ' ';
            width: 4.5rem;
            height: 0.25rem;
            position: relative;
            background-color: $main-contrasting;
            top: 2.125rem;
            display: block;
            margin-left: auto;
            margin-right: auto;
            @include is-rounded;
            @include has-shadow;
        }
    }
}
