button {
    &:hover {
        cursor: pointer;
    }

    &:active,
    &:focus {
        outline: none;
    }

    &:focus-visible {
        @include is-button-in-focus();
    }
}

.button-no-style {
    border: none;
    background: none;
}

.large-icon-button {
    font-weight: bold;
    padding: 1.25rem;
    height: 7rem;
    width: 100%;
    max-width: 13.625rem;
    border: none;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    line-height: 1.45em;

    @include has-shadow();
    @include is-rounded();
    @include text();
    @include is-flex-row();

    // Targets all siblings of parent element,
    > * {
        white-space: normal;
        flex: 0 0 auto;
    }

    > *:first-child {
        padding: 0 2.5em 0 0;
        font-weight: bold;
        text-align: left;
        flex: 0 1 auto;
    }

    &.is-flex-row-reverse {
        justify-content: flex-end;

        > *:first-child {
            padding: 0 0 0 0.75rem;
        }
    }
}
