.card-list {
    min-width: 26rem;
    width: max-content;

    .ant-card-body {
        padding: $bu;
    }
}

.card-list-ant-component {
    border: none;
    // add padding to bottom as we don't use a footer

    .ant-list-header,
    .ant-list-item {
        border-bottom: none !important;
    }
}
