.status-container {
    border: 2px solid black;
    padding: 0.3rem 1.3rem;
    border-radius: 2rem;
    text-align: center;
    width: fit-content;
    .ant-typography {
        margin: 0;
        @include label;
    }
}

.border-not-started {
    border-color: $main-light;
}

.border-started {
    border-color: $bee-yellow;
}

.border-finished {
    border-color: $success-light;
}

.election-status {
    width: 100%;

    @include for-desktop-down {
        min-width: auto;
        .ant-list-items {
            @include is-flex-row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .ant-list-item {
                padding: 1rem;
                .status-icon-spacer {
                    padding: 0;
                }
                @include is-flex-column;
                text-align: center;
                justify-content: center;
                align-items: center;
            }
        }
    }
    @include for-tablet-landscape-down {
        .ant-list-items {
            flex-direction: column;
            justify-content: flex-start;
            .ant-list-item {
                padding: 0 0 1rem 0;
                .status-icon-spacer {
                    padding: 0 1rem 0 0;
                }
                flex-direction: row;
                text-align: left;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
    }
}
