.status-container {
    border:2px solid black;
    padding: 0.6rem 1.5rem;
    border-radius: 2rem;
    text-align: center;
    
    .ant-typography {
        margin-bottom: 0rem;
        font-weight: bold;
    }
}

.border-not-started {
    border-color: $main-light;
}

.border-started {
    border-color: $bee-yellow;
}

.border-finished {
    border-color: $success-light;
}