.eligible-voters-list {
    .ant-form-item-label {
        margin: 0 0 -2.5rem 0;
    }

    .ant-list {
        margin-top: 0.75rem;
        .ant-list-items {
            @include is-rounded;
            background-color: $main-color;
        }

        li.ant-list-item {
            padding: 0 0.5rem 0 1rem;
            &:nth-child(2n) {
                background-color: $alternate-color;
            }

            &:last-child {
                border-radius: 0 0 $normal-border-radius $normal-border-radius;
                @include has-shadow;
            }
        }
    }
}
