.import-voters-menu {
    text-align: center;
    margin: 0;
    @include has-shadow;
    min-width: 12rem;
    li.ant-menu-item.ant-menu-item-only-child {
        &:first-child {
            border-radius: $normal-border-radius $normal-border-radius 0 0;
        }
        &:last-child {
            border-radius: 0 0 $normal-border-radius $normal-border-radius;
        }
    }
    .ant-menu-item {
        margin: 0;
    }

    @include is-rounded;

    .ant-menu-item-active {
        background-color: $main-light;
        span {
            color: white;
        }
    }
}
