.import-voters-menu {
    background-color: $white;
    @include is-overlay($important: true);
    text-align: center;
    margin: 0;
    min-width: 12rem;
    min-height: 6rem;
    li.ant-menu-item.ant-menu-item-only-child {
        &:first-child {
            border-radius: $normal-border-radius $normal-border-radius 0 0;
        }
        &:last-child {
            border-radius: 0 0 $normal-border-radius $normal-border-radius;
        }
    }

    .ant-menu-item {
        margin: 0;
    }

    @include is-rounded;
    .ant-menu-item {
        &:hover {
            background-color: $main-light;
            color: white;
            * {
                color: white;
            }
        }
    }
}
