.preview-item {
    height: 2.5rem;
    padding-left: 1.5rem;
    margin: 1rem;
    @include is-rounded;
    @include has-shadow;
    @include is-flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;

    .button-container-wrap {
        padding: 0.28125rem 0;
        padding-left: 6.75rem;
        background: url('../../../assets/drop.svg');
        background-repeat: no-repeat;
        @include is-rounded;
        @include is-flex-row;
    }
}

.button-container {
    .ant-btn {
        padding: 0;
        color: $white;
    }

    .ant-typography {
        font-weight: bold;
    }
}

.add-preview-button-container {
    display: flex;
    justify-content: center;
}

.add-preview-button {
    @include has-shadow();
    background-color: $main-light;

    .btn-icon {
        color: $white;
    }

    &:hover {
        background-color: $main-contrasting;
    }

    &:focus {
        background-color: $main-light;
    }
}
