.preview-item {
    background: url('../../../assets/drop.svg') no-repeat;
    background-position-x: right;
    height: 2.5rem;
    min-width: 20rem;
    padding: 0 0.5rem 0 1rem;
    margin: 0 0 1rem 0;
    @include is-rounded;
    @include has-shadow;
    @include is-flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;

    .ant-btn {
        color: $white;
    }

    .ant-typography {
        font-weight: bold;
    }
}

.add-preview-button-container {
    display: flex;
    justify-content: center;
}

.add-preview-button {
    @include has-shadow();
    background-color: $main-light;

    .btn-icon {
        color: $white;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: $main-contrasting;
    }
}
