.preview-item {
    height: 2.5625rem;
    padding-left: 1.5rem;
    margin: 1rem;
    @include is-rounded;
    @include has-shadow;
    @include is-flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;

    .button-container-wrap {
        padding-left: 6.75rem;
        padding-top: 0.28125rem;
        padding-bottom: 0.28125rem;
        background: url(./drop.svg);
        background-repeat: no-repeat;
        @include is-rounded;
        @include is-flex-row;
    }
}

.button-container {
    .ant-btn {
        padding: 0;
        color: $white;
    }

    .ant-typography {
        font-weight: bold;
    }
}