.radio-text {
    transition: all 0.35s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.radio-group {
    margin: 0 0 1.75rem 0;
    .ant-radio-wrapper {
        transition: all 0.35s;
        background-color: $white;
        width: 10rem;
        height: 10rem;
        @include is-rounded;
        @include has-shadow;

        > span:nth-child(2) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }

    .ant-radio-wrapper-checked {
        transition: all 0.35s;
        width: 11.5rem;
        height: 11.5rem;
        padding-top: 1rem;

        .select-type-text {
            padding-top: 1.5rem;
        }

        .select-ranked-text {
            padding-top: 1.75rem;
        }

        .select-single-text {
            padding-top: 2rem;
        }

        .select-none-text {
            padding-top: 1.3125rem;
        }

        &::after {
            content: ' ';
            width: 4.5rem;
            height: 0.25rem;
            position: relative;
            background-color: $main-contrasting;
            top: 1rem;
            display: block;
            margin-left: auto;
            margin-right: auto;
            @include is-rounded;
            @include has-shadow;
        }
    }
}

.radio-button {
    .ant-radio {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .select-ranked-text {
        font-weight: bold;
    }

    .select-single-text {
        font-weight: bold;
    }

    .select-none-text {
        font-weight: bold;
    }
}

.radio-wrapper {
    .ant-radio-group {
        height: 13rem;
        width: 37.5rem;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }
}
