.select-ranked-text {
    padding: 1.125rem;
}

.select-single-text {
    padding: 1.25rem;
}

.select-none-text {
    padding: 1.15625rem;
}

.ranked-icon {
    margin-bottom: 0.125rem;
}

.single-icon {
    margin-bottom: 0.25rem;
}

.none-icon {
    margin-bottom: 0.15625rem
}    
