.text-with-tooltip {
    .ant-typography {
        margin: 0.5rem 0;        
    }
}

.tooltip-icon-container {
    position: relative;
}

.tooltip-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $main-light;
}