.connection-indicator {
    height: fit-content;
    width: fit-content;
    padding: 0.4rem 1rem;

    .anticon {
        font-size: 24px;
    }

    .anticon-disconnect svg {
        color: $danger-contrasting;
        filter: drop-shadow(0px 0px 5px $danger-light);
    }

    .anticon-rocket svg {
        color: $success-contrasting;
        filter: drop-shadow(0px 0px 5px $success-light);
    }
}
